---
import BasicWidth from '../Helpers/BasicWidth.astro'
---

<header>
    <BasicWidth>
        <div class="inner-wrapper">
            <h1 class="main-title">my css sketchbook</h1>
        </div>
    </BasicWidth>
</header>

<style>
    .main-title {
        color: var(--awesomeLinaria);
        font-size: 3rem;
        font-weight: 500;
    }

    .inner-wrapper {
        padding: 24px 0;

    }

    header {
        border-bottom: solid 4px var(--lilac);
    }
</style>
