---

---

<h1>my css sketchbook</h1>
<p
  >I am going to use this website to practice the principles that I am learning in Josh Comeau's
  course. I have been through most of the content before but I am going through it again now and I
  want a sketchpad.</p
>
<p>An Astro project will work well for that.</p>
<p>I am only limited by my imagination with this one.</p>
<p
  >The best way to do this is to try out different concepts as I make my way through the course
  again.</p
>
<p><a href='#' style={{ color: 'hotpink' }}>This is a link and colored with an inline style!</a></p>
<h2>This is a section</h2>
<section>
  <h2>Here is another section</h2>
</section>
