---
import LandingContent from '../components/astro/LandingContent.astro'
import BasicLayout from '../layouts/BasicLayout.astro'
// My color variables:
const beautiful = "oklch(60.09% 0.165 328.24)"
const greatGreen = "oklch(81.45% 0.1367 153.53)"
const background = "oklch(97.33% 0 164.12)"
const linkPink = "oklch(69.29% 0.1894 340.94 / 93.07%)"
const linkHover = "oklch(57.12% 0.1708 349.41 / 89.82%)"
const blueBackGround = "oklch(66.47% 0.1488 252 / 38.5%)"
const borderPurple = "oklch(53.24% 0.237 296.47 / 65.34%)"
const awesomeLinaria = "oklch(60% 0.17 352.4)"
const lilac = "oklch(72.94% 0.169 313.71)"
// Color object for brevity
const myColors = {beautiful, borderPurple, greatGreen, background, linkPink, linkHover, blueBackGround, awesomeLinaria, lilac}
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>My CSS Sketchbook</title>
  </head>
  <body>
    <BasicLayout>
      <LandingContent />
    </BasicLayout>
  </body>
</html>

<style is:global define:vars={myColors}>


  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  #root,
  #__next {
    isolation: isolate;
  }
</style>
