---
import BasicHeader from '../components/astro/BasicHeader.astro'
---

<div class='main-wrapper'>
  <BasicHeader />
  <main class='content'>
    <slot />
  </main>
</div>

<style >

  .main-wrapper {
    min-height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
  }

  .content {
    flex-grow: 1;
  }
</style>
