---
const background = "oklch(97.33% 0 164.12)"

---

<div class='main-wrapper'>
  <div class='content'>
    <slot />
  </div>
</div>

<style define:vars={{background}}>

  .main-wrapper {
    min-height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
  }

  .content {
    flex-grow: 1;
  }
</style>
